#first{
    background-color:darkblue;
    height: 360px;
    width: 500px;
    position: relative;
}
.second{
    background-color: red;
    height: 90px;
    width: 500px;
}
.third{
    background-color: red;
    height: 90px;
    width: 500px;
    position: absolute;
    bottom: 0px;
}
.fourth{
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 185px;
}